rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /mission-proofs/{missionId}/{participationId}/{fileName} {
      allow write: if request.resource.size < 10 * 1024 * 1024
                   && (request.resource.contentType.matches('image/.*') || request.resource.contentType.matches('video/.*'));
      allow read: if true;
    }

    match /mission-covers/{allPaths=**} {
      allow read, write: if true;
    }

    match /banners/{allPaths=**} {
      allow read, write: if true;
    }

    match /{allPaths=**} {
      allow read, write: if true;
    }
  }
}

